HORTUSFOX_APP_PORT=8080
HORTUSFOX_APP_TIMEZONE=UTC
HORTUSFOX_APP_ADMIN_EMAIL=test@test.com
HORTUSFOX_APP_ADMIN_PASSWORD=admin_password
HORTUSFOX_MARIADB_ROOT_PASSWORD=your_root_password
HORTUSFOX_MARIADB_DATABASE=hortusfox
HORTUSFOX_MARIADB_USER=hortusfox_user
HORTUSFOX_MARIADB_PASSWORD=your_hortusfox_user_password